* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.5s;
  text-decoration: none;
}
.Bosh {
  border: 1px solid black;
  width: 390px;
  height: 6480px;
  margin: auto;
}
.div {
  border: 1px solid black;
  width: 390px;
  height: 609px;
  background-image: url(../img/image\ copy\ 42.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}
.div img {
  width: 390px;
  height: 609px;
  background-image: url(../img/image\ copy\ 42.png);
}
.div1 {
  width: 357px;
  height: 32px;
  margin: auto;
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
}
.panja {
  width: 35px;
  height: 32px;
}
.i1 {
  width: 10px;
  height: 10px;
}
.i2 {
  width: 10px;
  height: 10px;
  margin-left: 15px;
}
.panja i {
  width: 10px;
  height: 10px;
}
.div2 {
  width: 116px;
  height: 24px;
  margin-left: 15px;
  margin-top: 3px;
}
.div2 h2 {
  font-size: 20px;
}
.ip {
  width: 159px;
  height: 32px;
  display: flex;
}
.chiziq {
  width: 40px;
  height: 30px;
}
.chiziq i {
  width: 40px;
  height: 40px;
  margin-top: 5px;
}
/* ============================================ */
.div3 {
  width: 313px;
  height: 356px;
  margin: auto;
  margin-top: 172px;
}
.div4 {
  width: 313px;
  height: 117px;
}
.div4 h2 {
  font-size: 30px;
}
.div5 {
  width: 313px;
  height: 119px;
}
.div5 p {
  font-size: 14px;
}
.div6 {
  border: 2px solid white;
  width: 167px;
  height: 60px;
  border-radius: 28px;
}
.div7 {
  width: 120px;
  height: 30px;
  margin: auto;
  margin-top: 13px;
  display: flex;
  justify-content: space-between;
}
.div7 h2 {
  font-size: 16px;
  margin-top: 3px;
}
/* ================================== */
.text {
  border: 1px solid black;
  width: 358px;
  height: 144px;
  margin: auto;
  margin-top: 50px;
}
.text1 {
  width: 358px;
  height: 34px;
  display: flex;
  justify-content: space-between;
  color: black;
}
.text2 {
  width: 90px;
  height: 34px;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.oyna {
  width: 34px;
  height: 34px;
}
.oyna img {
  width: 25px;
  height: 25px;
}
.u {
  width: 200px;
  height: 35px;
  margin-top: 20px;
}
.u1 {
  border: 1px solid gray;
  width: 358px;
  height: 1px;
  margin-top: 5px;
}
.text3 {
  width: 358px;
  height: 35px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.b5 {
  border: 1px solid black;
  width: 89px;
  height: 35px;
  border-radius: 8px;
  background-color: #101828;
  color: white;
}
.b5 b {
  font-size: 15px;
}
.b4 {
  width: 57px;
  height: 15px;
  margin: auto;
  margin-top: 6px;
}
.b3 {
  width: 67px;
  height: 30px;
  margin-top: 3px;
}
.b3 b {
  margin-left: 5px;
  font-size: 20px;
}
.text4 {
  width: 358px;
  height: 427px;
  margin: auto;
  margin-top: 10px;
}
.text4 img {
  width: 358px;
  height: 427px;
  margin: auto;
  border-radius: 10px;
}
/* ================================ */
.text9 {
  width: 90px;
  height: 34px;
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-top: 100px;
}
.u2 {
  border: 1px solid gray;
  width: 358px;
  height: 1px;
  margin-top: 5px;
  margin-left: 15px;
}
.box {
  width: 358px;
  height: 358px;
  margin: auto;
  margin-top: 15px;
}
.box img {
  width: 175px;
  height: 175px;
  border-radius: 5px;
}
.box1 {
  width: 358px;
  height: 250px;
  margin: auto;
  margin-top: 10px;
}
.box1 img {
  width: 358px;
  height: 250px;
  border-radius: 5px;
}
.text8 {
  width: 150px;
  height: 34px;
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-top: 65px;
}
.box2 p {
  font-size: 15px;
  color: #667085;
}
/* =================================================== */
.text7 {
  width: 90px;
  height: 34px;
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-top: 100px;
}
.box3 {
    border: 1px solid black;
    width: ;
    height: ;
}
