* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  box-shadow: 0 2px 0px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: rgb(255, 255, 255, 0.97);
}

.navbar nav {
  width: 731px;
  height: 36px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.navbar .div12 {
  display: flex;
  gap: 30px;
}

.navbar nav .g {
  font-size: 20px;
  font-weight: 900;
}

.navbar .div2 {
  width: 177px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.navbar .div2 .sign {
  width: 104px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: snow;
  border-radius: 8px;
}
.rasm {
  width: 1550px;
  height: 537px;
  background-image: url(../img/img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 75px;
}
.ccc {
  width: 440px;
  height: 203px;
}
.u {
  font-size: 50px;
}
  .main-2 {
    width: 1232px;
    height: 280px;
    border-radius: 20px;
    box-shadow: 0 2px 0px 1px rgba(0, 0, 0, 0.1);
    margin: auto;
    background-color: snow;
    padding: 20px;
    position: relative;
    bottom: 140px;

}

.main-2 fieldset {
    width: 300px;
    height: 50px;
    padding-left: 10px;
}

.main-2 .box {
    width: 1184px;
    height: 32px;
    margin: auto;
}

.main-2 .box h2 {
    margin-bottom: 23px;
}

.main-2 .fieldset {
    width: 1184px;
    height: 56px;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.main-2 .fieldset small {
    color: gray;
    margin-right: 120px;
}

.main-2 legend {
    color: gray;
    font-weight: 800;
}

.main-2 .pastki {
    width: 1168px;
    height: 48px;
    display: flex;
    margin-top: 50px;
    justify-content: end;
    gap: 20px;
    align-items: center;
}

.main-2 .pastki .span {
    width: 142px;
    height: 48px;
    display: flex;
    align-items: center;
}

.main-2 .pastki .button button {
    border: none;
    width: 144px;
    height: 48px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.Bosh {
  margin-bottom: 20px;
  width: 1200px;
  height: 72px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.y {
  width: 117px;
  height: 30px;
  border: 1px solid blue;
  margin-top: 20px;
  background-color: aliceblue;
  border-radius: 5px;
  box-shadow: 0px 0px 2px rgb(0, 0, 0.8);
}
.uuu {
}
.r {
  margin-top: 5px;
  text-align: center;
}
.sss {
  width: 1232px;
  height: 440px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  gap: 15px;
}
.sss img {
  width: 90px;
  height: 90px;
  margin: 15px;
  border-radius: 15px;
}
.sss1 {
  width: 390px;
  height: 122px;
  display: flex;
  margin-top: 20px;
  border-radius: 18px;
  background-color: white;
  box-shadow: 0px 0px 2px rgb(0, 0, 0.8);
}
.suxrob {
  margin-top: 40px;
}
.a img {
  width: 1550px;
  height: 486px;
  margin: auto;
  margin-top: 30px;
}
.box1 {
  width: 1232px;
  height: 552px;
  margin: auto;
  margin-top: 70px;
}
.box2 {
  width: 1225px;
  height: 420px;
  color: white;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
.imej {
  width: 296px;
  height: 420px;
  background-image: url(../img/piramida.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
.p {
  font-size: 12px;
  margin-right: 70px;
}
.o {
  font-size: 20px;
}
.h {
  width: 248px;
  height: 48px;
  margin: auto;
  background-color: #8dd3bb;
}
.botun {
  margin-top: 10px;
  text-align: center;
}
.imej1 {
  margin-top: 300px;
  width: 248px;
  margin-left: 23px;
}
/* ================================ */
.imej9 {
  width: 296px;
  height: 420px;
  background-image: url(../img/image\ copy\ 3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
.p9 {
  font-size: 12px;
  margin-right: 70px;
}
.o9 {
  font-size: 20px;
}
.h9 {
  width: 248px;
  height: 48px;
  margin: auto;
  background-color: #8dd3bb;
}
.botun9 {
  margin-top: 10px;
  text-align: center;
}
.imej19 {
  margin-top: 300px;
  width: 248px;
  margin-left: 23px;
}
.imej8 {
  width: 296px;
  height: 420px;
  background-image: url(../img/image\ copy\ 5.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
.p8 {
  font-size: 12px;
  margin-right: 70px;
}
.o8 {
  font-size: 20px;
}
.h8 {
  width: 248px;
  height: 48px;
  margin: auto;
  background-color: #8dd3bb;
}
.botun8 {
  margin-top: 10px;
  text-align: center;
}
.imej18 {
  margin-top: 300px;
  width: 248px;
  margin-left: 23px;
}
.imej7 {
  width: 296px;
  height: 420px;
  background-image: url(../img/image\ copy\ 4.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
.p7 {
  font-size: 12px;
  margin-right: 70px;
}
.o7 {
  font-size: 20px;
}
.h7 {
  width: 248px;
  height: 48px;
  margin: auto;
  background-color: #8dd3bb;
}
.botun7 {
  margin-top: 10px;
  text-align: center;
}
.imej17 {
  margin-top: 300px;
  width: 248px;
  margin-left: 23px;
}
/* ============================== */
.ohirgi {
  width: 1232px;
  height: 540px;
  margin: auto;
}
.ohirgi2 {
  width: 1232px;
  height: 468px;
  display: flex;
  justify-content: space-between;
}
.yazuvli {
  width: 552px;
  height: 424px;
  background-color: #8dd3bb;
  border-radius: 20px;
}
.ttt {
  width: 504px;
  height: 102px;
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.h5 {
  width: 363px;
  height: 102px;
}
.h5 h2 {
  font-size: 45px;
}
.From {
  width: 68px;
  height: 62px;
  background-color: #ffffff;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  margin-top: 15px;
}
.lorem {
  width: 504px;
  height: 85px;
  margin: auto;
  margin-top: 20px;
}
.lll {
  width: 504px;
  height: 48px;
}
.boton {
  text-align: center;
  margin-top: 130px;
}
.yu {
  font-size: 10px;
}
.IMGLAR {
  width: 656px;
  height: 424px;
}
.rrrrr img {
  width: 318px;
  height: 200px;
  border-radius: 20px;
}
.io {
  display: flex;
  justify-content: space-between;
}
.oi {
  display: flex;
  justify-content: space-between;
}
/* ================================ */
footer {
  width: 100%;
  height: 400px;
  background-color: #8DD3BB;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  /* transform: translateY(-200px); */
}

footer .box5 {
  width: 1232px;
  height: 305px;
  margin: auto;
  border-radius: 20px;
  padding-left: 15px;
  background-color: #cdeae1;
  display: flex;
  justify-content: space-between;
  transform: translateY(-100px);
}

footer .box5 .div {
  width: 593px;
  height: 305px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

footer .box5 .div .h6 {
  width: 364px;
  height: 108px;
  font-size: 60px;
}

footer .box5 .div p {
  color: gray;
  font-weight: 900;
}

footer .box5 .div small {
  color: gray;
}

footer .box5 .button input {
  width: 473px;
  height: 56px;
  padding-left: 20px;
  border-radius: 4px;
  border: none;
}

footer .box5 .button button {
  width: 104px;
  height: 56px;
  border: none;
  border-radius: 4px;
  background-color: black;
  color: snow;
}

footer .box5 .img {
  width: 400px;
  height: 305px;
}

footer .box5 .img img {
  width: 400px;
  height: 305px;
}

/* =====footre======== */
/* =================== */

footer .box6 {
  width: 1232px;
  height: 140px;
  margin: auto;
  display: flex;
  margin-top: 250px;
  justify-content: space-around;
  transform: translateY(-300px);
}

footer .box6 .div1 {
  width: 175px;
  height: 140px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer .box6 div small {
  display: block;
  color: grey;
}

